<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Catalogue</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<header class="header">
    <th:block th:replace="~{fragments/navbar}"></th:block>
</header>

<h1>Book Catalogue</h1>

<div th:if="${error}" class="alert alert-danger">
    <p th:text="${error}"></p>
</div>

<h3>Search for a book by title, author, or ISBN:</h3>
<form th:action="@{/catalogue}" method="get">
    <input type="text" name="search" placeholder="Search books..." th:value="${searchQuery}">
    <button type="submit">Search</button>
</form>

<div>
    <h3>Or filter books by genres and find something interesting:</h3>
    <form th:action="@{/catalogue}" method="get" class="genres">
        <div th:each="genre : ${allGenres}" class="genre | fs-200">
            <label>
                <input type="checkbox" name="genres" th:value="${genre}"
                       th:checked="${genres != null and genres.contains(genre)}">
                <span th:text="${genre}"></span>
            </label>
        </div>
        <button type="submit">Apply Filters</button>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>ISBN</th>
            <th th:if="${isLoggedIn}">Quantity</th> <!-- New column for quantity -->
            <th th:if="${isLoggedIn}">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.genre}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:if="${isLoggedIn}" th:text="${book.quantity}"></td> <!-- Display the quantity -->
            <td th:if="${isLoggedIn and book.quantity > 0}">
                <form th:action="@{/books/reserve/{id}(id=${book.id})}" method="post" style="display: inline;">
                    <button type="submit">Reserve</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<script th:src="@{/js/nav-toggle.js}"></script>
</body>
</html>
