<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="home | wrapper">
<header class="header">
    <th:block th:replace="~{fragments/navbar}"></th:block>
</header>

<main>
    <section class="hero">
        <div class="img-container">
            <img src="/images/home-img.png">
        </div>
        <div class="hero-text">
            <h1 class="fs-900">Borrow, read, and discover new worlds.</h1>
            <a href="/register" class="btn btn-primary margin-block-s">Get Started</a>
        </div>
    </section>

    <section class="home-info | flow">
        <h2 class="fs-700">Your Library, Just a Click Away</h2>
        <p>Easily browse your library’s collection, reserve books online, and pick them up at your convenience.</p>
        <p>With ShelfScape, managing your reading list has never been easier. Find your next great read, check availability, and secure your copy—all in one place!</p>
        <div class="actions">
            <a href="/catalogue" class="action action-green">Explore the catalogue</a>
            <a href="/register" class="action action-blue">Start your journey</a>
        </div>
    </section>


</main>
</body>
</html>
