<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <th:block th:replace="~{fragments/navbar}"></th:block>

    <main>
        <h2>Welcome back, book lover!</h2>
        <p>Log in to your ShelfScape account and pick up where you left off!</p>

        <form th:action="@{/login}" method="post">

            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required />
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required />
            </div>

            <button type="submit">Login</button>
        </form>
        <p>New here? <a href="/register">Create an account</a></p>
    </main>

    <img src="/images/login-img.png" alt="">

</body>
</html>
