
/* ------------------- */
/* CUSTOM PROPERTIES   */
/* ------------------- */

:root {

/* fonts sizes*/
    --fs-200: clamp(0.7813rem, calc(0.7755rem + 0.0287vw), 0.8rem);
    --fs-300: clamp(0.9375rem, calc(0.9184rem + 0.0956vw), 1rem);
    --fs-400: clamp(1.125rem, calc(1.0868rem + 0.1912vw), 1.25rem);
    --fs-500: clamp(1.35rem, calc(1.285rem + 0.325vw), 1.5625rem);
    --fs-600: clamp(1.62rem, calc(1.5181rem + 0.5096vw), 1.9531rem);
    --fs-700: clamp(1.944rem, calc(1.7918rem + 0.7609vw), 2.4414rem);
    --fs-800: clamp(2.3328rem, calc(2.1129rem + 1.0997vw), 3.0518rem);
    --fs-900: clamp(2.7994rem, calc(2.4887rem + 1.5531vw), 3.8147rem);

    /* colors */
    --clr-primary: #07183b;
    --clr-secondary: #4a6382;

    --clr-accent-blue: #67abda;
    --clr-accent-beige: #dfd8c3;

    --clr-text-light: #f5f5ef;
    --clr-text-dark: #0f0f09;

    --clr-bg-light: #f1f1e6;

    --clr-gray-light: #ebeff0;
    --clr-gray-medium: #cdd4da;
    --clr-gray-dark: #a6b7c5;

    --clr-alert-danger-light: #ffb6b3;
    --clr-alert-danger-dark: #e6463f;
    --clr-alert-warning-light: #fcf5c7;
    --clr-alert-warning-dark: #f8e564;
    --clr-alert-info-light: #c1c1ec;
    --clr-alert-info-dark: #82cce6;
    --clr-alert-success-light: #b8e0d2;
    --clr-alert-success-dark: #60d6ac;

}


/* ------------------- */
/* RESET               */
/* ------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    color-scheme: dark light;
    hanging-punctuation: first allow-end last;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

body {
    min-height: 100vh;
    min-height: 100svh;
    line-height: 1.5;
    scrollbar-gutter: stable;
    -webkit-font-smoothing: antialiased;

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-400);

    color: var(--clr-text-dark);
    background-color: var(--clr-bg-light);
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, button, input, label {
    line-height: 1.1;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2, h3, h4 {
    text-wrap: balance;

    font-family: "Quattrocento", serif;
    font-weight: 700;
    font-style: normal;
}

p {
    max-width: 75ch;
    text-wrap: pretty;
}

a:not([class]) {
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    text-decoration-skip: auto;
    color: currentColor;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
     *::before,
     *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
     }
}


/* ------------------- */
/* UTILITY CLASSES     */
/* ------------------- */

/* fonts */
.fs-200 {
    font-size: var(--fs-200);
}
.fs-300 {
    font-size: var(--fs-300);
}
.fs-400 {
    font-size: var(--fs-400);
}
.fs-500 {
    font-size: var(--fs-500);
}
.fs-600 {
    font-size: var(--fs-600);
}
.fs-700 {
    font-size: var(--fs-700);
}
.fs-800 {
    font-size: var(--fs-800);
}.fs-900 {
    font-size: var(--fs-900);
}

.fs-600,
.fs-700,
.fs-800,
.fs-900 {
    line-height: 1.1;
}

.flow > * + * {
    margin-block-start: 1.4em;
}

.wrapper {
    width: min(calc(100% - 4rem), 1160px);
    margin-inline: auto;
}

.margin-block-s {
    margin-block: 1rem;
}

.margin-block-m {
    margin-block: 2rem;
}

.margin-block-l {
    margin-block: 3rem;
}

.center-h {
    margin-inline: auto;
}

.center-v {
    margin-block: auto;
}

.full-bleed {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%)
}

/* ------------------- */
/* COMPONENTS          */
/* ------------------- */

/* NAVIGATION */

.main-nav {
    padding: 1.5rem;
    margin-left: auto;
}

.main-nav > ul {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: flex-end;

    list-style: none;

    font-family: "Quattrocento", serif;
    font-weight: 700;
}

.main-nav a {
    text-decoration: none;
}

.main-nav button {
    background-color: transparent;
    border: none;
    outline: none;

    cursor: pointer;
}

.backdrop {
    position: absolute;
    inset: 0;
    height: 200%;
    backdrop-filter: blur(16px);
    mask-image: linear-gradient(
    to bottom,
    black 0% 50%,
    transparent 50% 100%
    );

    z-index: -1;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.mobile-nav-toggle {
    color: var(--clr-text-dark);
    font-weight: 500;

    background-color: transparent;
    border: none;
    cursor: pointer;

    z-index: 200;

    transition: all 0.3s;
}


@media screen and (max-width: 480px) {
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    .main-nav {
        display: none;
    }

    .main-nav.active {
        display: block;
        position: absolute;
        left: 0;

        width: 100vw;
        height: 100vh;

        padding: 6rem 2.5rem 2rem 2rem;

        background-color: var(--clr-bg-light);

        z-index: 100;
    }

    .main-nav.active ul {
        flex-direction: column;
        align-items: flex-end;

        font-size: var(--fs-500);
    }
}

.no-scroll {
    overflow: hidden;
}

.rotate {
    transform: rotate(90deg);
}

/* BUTTONS */

.btn {
    display: inline-block;

    padding: 0.6rem 2.3rem;

    color: var(--clr-text-light);
    text-decoration: none;

    cursor: pointer;

    border: none;
    border-radius: 10rem;
}
.btn:hover {
    transition: all 0.3s;
}

.btn-primary {
    background-color: var(--clr-primary);
}
.btn-primary:hover {
    background-color: hsl(219, 20%, 35%);
}

.btn-secondary-dark {
    background-color: var(--clr-secondary);
}
btn-secondary-dark:hover {
    background-color: hsl(211, 17%, 50%);
}

.btn-secondary-light {
    background-color: var(--clr-accent-beige);

    color: var(--clr-text-dark);
}
.btn-secondary-light:hover {
    background-color: var(--clr-gray-medium)
}

/* FORMS' INPUTS */

.fieldset {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.fieldset > input {
    padding-inline: 0.8rem;
    padding-block: 0.6rem;

    background-color: white;

    outline: none;
    border-inline: none;
    border-top: none;
    border-bottom: 2px solid var(--clr-text-dark);

    color: currentcolor;
}

.fieldset > input:focus {
    border-bottom: 2px solid var(--clr-alert-info-dark);
}

.fieldset > input:user-invalid {
    background-color: var(--clr-alert-danger-light);
    border-bottom: 2px solid var(--clr-alert-danger-dark);
}

.fieldset > input:user-valid {
    border-bottom: 2px solid var(--clr-alert-success-dark);
}

/* CUSTOM GENRES' CHECKBOXES */

.genres {
    display: flex;
    gap: 0.2rem;
    flex-wrap: wrap;
}

.genre input {
    display: none;
}

.genre {
    width: fit-content;

    padding: 0.2rem 0.6rem;

    curso: pointer;

    background-color: var(--clr-gray-medium);
    border-radius: 3rem;
}

.genre:has(input:checked) {
    background-color: var(--clr-accent-blue);
    color: var(--clr-text-light);
}

.genre:hover {
    background-color: var(--clr-gray-dark);
}

/* ACTION BUTTONS */

.action {
    font-size: var(--fs-200);
    text-align: left;

    outline: none;
    border: none;

    cursor: pointer;
    background-color: transparent;

    color: var(--clr-text-dark);
    text-decoration: underline;
    text-underline-offset: 0.1rem;

    transition: all 0.3s;
}

.action:hover {
    scale: 1.05;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.action-blue {
    text-decoration-color: var(--clr-alert-info-dark);
}

.action-green {
    text-decoration-color: var(--clr-alert-success-dark);
}

.action-yellow {
    text-decoration-color: var(--clr-alert-warning-dark);
}

.action-red {
    text-decoration-color: var(--clr-alert-danger-dark);
}

.link {
    text-decoration: underline;
    color: currentcolor;
}

/* ALERTS */

.alert {
    padding: 0.2rem 2rem;
    margin: 1rem;
    width: fit-content;

    font-size: var(--fs-300);

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.alert-danger {
    border: 1px solid var(--clr-alert-danger-dark);
    background-color: var(--clr-alert-danger-light);
}

.alert-success {
    border: 1px solid var(--clr-alert-success-dark);
    background-color: var(--clr-alert-success-light);
}

.alert-warning {
    border: 1px solid var(--clr-alert-warning-dark);
    background-color: var(--clr-alert-warning-light);
}

.alert-info {
    border: 1px solid var(--clr-alert-info-dark);
    background-color: var(--clr-alert-info-light);
}

/* TABLES */

table, th, td {
    font-size: var(--fs-200);

    border: 1px solid var(--clr-text-dark);
    border-collapse: collapse;
}

th {
    background-color: var(--clr-gray-medium);
}

tr:nth-of-type(even) {
    background-color: var(--clr-gray-light);
}

tr:nth-of-type(odd) {
    background-color: var(--clr-text-light);
}

th, td {
    padding: 0.3rem;
}

tr:hover {
    background-color: var(--clr-accent-beige);
}


/* ------------------- */
/* GENERAL STYLE       */
/* ------------------- */

.header {
    display: flex;
    justify-content: space-between;

    z-index: 99;
}

.header + * {
    margin-top: 3rem;
}

.logo {
    max-width: 6rem;

    margin: 0.5rem;
}

@media screen and (min-width: 481px) {
    .header {
        position: sticky;
        top: 1rem;
    }
}


/* ------------------- */
/* HOME PAGE           */
/* ------------------- */

.home .header {
    max-width: 60%;
    margin-left: auto;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
    align-content: center;

    margin-bottom: 3rem;

    max-height: 70vh;
}

.img-container {
    position: relative;
}

.img-container::before {
    content: "";
    position: absolute;
    z-index: -5;

    width: 70%;
    height: 160vh;

    left: 25%;
    top: -9rem;

    background-image: url("/images/home-bg-img.png");
    background-repeat: no-repeat;
    background-color: transparent;
}

.img-container::after {
    content: "";
    position: absolute;

    width: 70%;
    height: 33rem;

    left: 20%;
    top: 105%;

    background-image: url("/images/home-cards.png");
    background-repeat: no-repeat;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text h1 {
    width: 10ch;
}

.home-info {
    max-width: 50%;
    margin-left: auto;
    margin-top: 8rem;
}

.home .actions {
    display: flex;
    justify-content: space-around;
}

.home .actions a {
    font-size: var(--fs-400);
}

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    .img-container::after {
        background-image: url("/images/home-cards-horizontal.png");

        width: 200%;
        height: 17rem;

        left: 50%;
        top: 100%;
    }

    .home-info {
        max-width: 80%;
        margin-top: 18rem;
        margin-inline: auto;

        background-color: hsl(60, 28%, 92%, 0.8);
        padding: 1.5rem;
    }

    @media screen and (max-width: 768px) {
        body {
            overflow-x: hidden;
        }

        .home .header {
            max-width: 50%;
        }

        .hero {
            width: 100%;

            grid-template-columns: 1fr;
            grid-template-areas: "stack";

            transform: translateY(-2rem);
        }


        .hero-text {
            width: fit-content;

            grid-area: stack;
            z-index: 10;

            padding: 1.5rem;
            margin-left: auto;

            background-color: hsl(60, 28%, 92%, 0.8);
        }

        .img-container {
            width: fit-content;

            grid-area: stack;
        }

        .img-container::after {
            top: 95%;
            left: 15%;
        }

        .home-info {
            position: relative;
            z-index: 30;
        }
    }

    @media screen and (max-width: 480px) {
        .hero {
            transform: translateY(4rem);
        }

        .img-container::before {
            left: 20%;
        }

        .home-info {
            max-width: 100%;
            margin-top: 30rem;

            padding: .5rem;

            font-size: var(--fs-300);
        }

        .home-info .actions {
            flex-direction: column;
            gap: 1rem;
        }

        .img-container::after {
            background-image: url("/images/home-cards-small.png");

            width: 200%;
            height: 23rem;

            left: 0;
            top: 105%;
        }
    }
}

/* ------------------- */
/* LOGIN PAGE          */
/* ------------------- */

.login main {
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;

    overflow-x: hidden;
}

.login-form {
    max-width: 40vw;
    padding-inline: 2rem;
    margin-left: auto;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    align-items: flex-end;
}

.login-img-container img {
    margin-left: auto;
}

@media screen and (max-width: 1024px) {
    .login {
    }

    .login main {
        grid-template-columns: 1fr;
        align-items: flex-start;
    }

    .login-form {
        grid-area: 1 / 1;

        margin-top: 4.5rem;
        margin-left: 4rem;
        padding: 2rem;
        background-color: hsl(60, 28%, 92%, 0.8);
    }

    .login-img-container {
        grid-area: 1 / 1;

        margin-top: -9rem;
        margin-right: -40%;
        z-index: -1;

        scale: 0.7;
    }
}

@media screen and (max-width: 768px) {
    .login-form {
        max-width: 90vw;

        margin-top: 3rem;
        margin-left: 0;
        padding-left: 2rem;
    }

    .login-img-container {
        scale: 1;
        margin-top: 0;
    }
}