<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Book Catalog</title>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
  <th:block th:replace="~{fragments/navbar}"></th:block>
</header>

<h1>Book Catalog</h1>
<p><a th:href="@{/admin/books/add}">Add New Book</a></p>

<!-- Search Bar -->
<form th:action="@{/admin/books}" method="get">
  <input type="text" name="search" placeholder="Search books..." th:value="${searchQuery}">
  <button type="submit">Search</button>
</form>

<div th:if="${books != null and #lists.isEmpty(books) and searchQuery != null}">
  <p>No book is matching your search</p>
</div>

<div>
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>ISBN</th>
      <th>Quantity</th> <!-- New column for quantity -->
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
      <td th:text="${book.title}"></td>
      <td th:text="${book.author}"></td>
      <td th:text="${book.genre}"></td>
      <td th:text="${book.isbn}"></td>
      <td th:text="${book.quantity}"></td> <!-- Display the quantity -->
      <td>
        <a th:href="@{/admin/books/edit/{id}(id=${book.id})}" >Edit</a>
        <form th:action="@{/admin/books/delete/{id}(id=${book.id})}" method="POST" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete this book?')">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
