<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
<th:block th:replace="~{fragments/navbar}"></th:block>

<h1>Welcome to Admin Dashboard</h1>
<p>Here you will manage users, books, and other admin functionalities.</p>

<p><a th:href="@{/admin/loans}">Manage all loans</a></p>

<h3>Search users</h3>
<form th:action="@{/admin/dashboard}" method="get">
    <input type="text" name="userSearch" placeholder="Search users..." th:value="${userSearchQuery}">
    <button type="submit">Search</button>
</form>

<div th:if="${users != null and #lists.isEmpty(users) and userSearchQuery != null}">
    <p>No user is matching your search</p>
</div>

<div th:if="${userSearchQuery != null and not #lists.isEmpty(users)}">
    <table>
        <thead>
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td>
                <span th:each="role : ${user.roles}" th:text="${role.name}"></span>
            </td>
            <td>
                <a th:href="@{/admin/users/edit/{id}(id=${user.id})}" class="btn btn-primary">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p><a th:href="@{/admin/users}">See all users</a></p>

<h3>Search books</h3>
<form th:action="@{/admin/dashboard}" method="get">
    <input type="text" name="bookSearch" placeholder="Search books..." th:value="${bookSearchQuery}">
    <button type="submit">Search</button>
</form>

<div th:if="${books != null and #lists.isEmpty(books) and bookSearchQuery != null}">
    <p>No book is matching your search</p>
</div>

<div th:if="${bookSearchQuery != null and not #lists.isEmpty(books)}">
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>ISBN</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.genre}"></td>
            <td th:text="${book.isbn}"></td>
            <td>
                <a th:href="@{/admin/books/edit/{id}(id=${book.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/admin/books/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p><a th:href="@{/admin/books}">Manage the book catalogue</a></p>


</body>
</html>
