<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit User</title>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="wrapper">
<header class="header">
  <img src="/images/logo-dark-2.png" alt="" class="logo">
  <th:block th:replace="~{fragments/navbar}"></th:block>
</header>

<h1 class="margin-block-s">Edit User</h1>

<form th:action="@{/admin/users/edit/{id}(id=${user.id})}" th:object="${user}" method="post" class="form-flow">
  <div class="fieldset">
    <label for="email">Email:</label>
    <input id="email" type="text" th:field="*{email}" disabled />
  </div>

  <div class="fieldset">
    <label for="firstName">First Name:</label>
    <input id="firstName" type="text" th:field="*{firstName}" />
  </div>

  <div class="fieldset">
    <label for="lastName">Last Name:</label>
    <input id="lastName" type="text" th:field="*{lastName}" />
  </div>

  <div class="fieldset">
    <label for="roles">Roles:</label>
    <select th:field="*{roles}" multiple="multiple" id="roles">
      <option th:each="role : ${roles}"
              th:value="${role.id}"
              th:text="${role.name}"></option>
    </select>
  </div>

  <button type="submit">Save Changes</button>
</form>

<script th:src="@{/js/nav-toggle.js}"></script>
</body>
</html>
