<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
<th:block th:replace="~{fragments/navbar}"></th:block>

<h1>Edit User</h1>

<form th:action="@{/admin/users/edit/{id}(id=${user.id})}" th:object="${user}" method="post">
  <div>
    <label for="email">Email:</label>
    <input id="email" type="text" th:field="*{email}" disabled />
  </div>
  <div>
    <label for="firstName">First Name:</label>
    <input id="firstName" type="text" th:field="*{firstName}" />
  </div>
  <div>
    <label for="lastName">Last Name:</label>
    <input id="lastName" type="text" th:field="*{lastName}" />
  </div>
  <div>
    <label for="roles">Roles:</label>
    <select th:field="*{roles}" multiple="multiple" id="roles">
      <option th:each="role : ${roles}"
              th:value="${role.id}"
              th:text="${role.name}"></option>
    </select>
  </div>
  <button type="submit">Save Changes</button>
</form>

</body>
</html>
