<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Update Profile</title>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
  <th:block th:replace="~{fragments/navbar}"></th:block>
</header>

<h2>Update Profile</h2>

<div th:if="${errorMessage}">
  <p th:text="${errorMessage}"></p>
</div>

<div th:if="${successMessage}">
  <p th:text="${successMessage}"></p>
</div>

<form th:action="@{/user/profile-update}" method="post">
  <input type="hidden" name="email" th:value="${email}"/>

  <label for="lastName">New Last Name:</label>
  <input type="text" id="lastName" name="lastName" th:value="${lastName}">

  <label for="oldPassword">Old Password:</label>
  <input type="password" id="oldPassword" name="oldPassword">

  <label for="newPassword">New Password:</label>
  <input type="password" id="newPassword" name="newPassword">

  <label for="confirmPassword">Confirm New Password:</label>
  <input type="password" id="confirmPassword" name="confirmPassword">

  <button type="submit">Update</button>
</form>

<a href="/user/profile">Back to Profile</a>

</body>
</html>
