<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<th:block th:replace="~{fragments/navbar}"></th:block>

<h1>Welcome, <span th:text="${user.firstName}">User</span>!</h1>

<h2>Your Profile:</h2>
<p>Email: <span th:text="${user.email}"></span></p>
<p>First Name: <span th:text="${user.firstName}"></span></p>
<p>Last Name: <span th:text="${user.lastName}"></span></p>

<a href="/user/profile-update">Edit Profile</a>

<form th:action="@{/user/delete/{id}(id=${user.id})}" method="POST" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete the account?')">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<h3>Your Loans:</h3>
<table>
    <thead>
    <tr>
        <th>Book Title</th>
        <th>Reservation/loan date</th>
        <th>Status</th>
        <th>Due date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="loan : ${loans}">
        <td th:text="${loan.book.title}"></td>
        <td th:text="${loan.loanDate}"></td>
        <td th:text="${loan.status}"></td>
        <td>
        <span th:text="${loan.status == T(com.shelfscape.model.LoanStatus).RESERVED ? loan.reservationExpiryDate :
                        (loan.status == T(com.shelfscape.model.LoanStatus).BORROWED ? loan.returnDate : '')}"></span>
        </td>
        <td>
            <form th:action="@{/user/remove-loan/{loanId}(loanId=${loan.id})}" method="post">
                <button type="submit" th:if="${loan.status == T(com.shelfscape.model.LoanStatus).RESERVED}">Remove Reservation</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
